@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
a {
  text-decoration: none;
  color: rgb(173, 192, 214);
  font-weight: bold;
  transition: color 0.3s;
}
a:hover {
  color: white;
}

#container {
  min-width: 270px;
}

#app {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

#appbox {
  border: 2px solid gray;
  padding: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
#taskHead > h2 {
  margin-bottom: 10px;
}
#taskHead {
  margin-bottom: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
#taskFields {
  margin-bottom: 5px;
}
#submitTask, #removeAllTasks, #checkAllTasks, #removeCheckedTasks {
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  margin-bottom: 0px;
}
#taskText, #submitTask {
  padding: 5px;
  margin-bottom: 0px;
}
#allTaskBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#removeAllTasks, #checkAllTasks, #removeCheckedTasks {
  color: #B1524F;
  display: flex;
  align-items: center;
}
#checkAllTasks {
  color: #58b14a;
}
#allTaskBtns > button > span {
  margin-left: 5px;
}

#taskList {
  max-width: 100%;
}
#taskList > li {
  list-style: none;
  padding: 5px;
  word-wrap: break-word; /*for old IE*/
  overflow-wrap: break-all;
  background-color: rgb(240, 255, 255);
  display: flex;
  flex-direction: row;
}
#taskList > li:nth-child(2n) {
  background-color: rgb(198, 228, 228);
}

.isChecked {
  text-decoration: line-through;
}
.checkMark:hover, .deleteMark:hover {
  cursor: pointer;
}
.checkMark {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid gray;
  align-self: flex-start;
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-checkmark-round-56.png");
  background-size: cover;
  box-shadow: inset 1px 1px 5px rgb(2, 2, 2);
}
.checkAllMark {
  border: 0;
  box-shadow: inset 0px 0px 0px white;
}
.deleteMark {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("https://cdn0.iconfinder.com/data/icons/entypo/52/x3-56.png");
  background-size: cover;
  margin-left: auto;
  filter: invert(31%) sepia(55%) saturate(991%) hue-rotate(319deg) brightness(98%) contrast(78%);
}
.notChecked > .checkMark {
  filter: invert(0.8);
}
.isChecked > .checkMark, .checkAllMark {
  filter: invert(67%) sepia(14%) saturate(1589%) hue-rotate(65deg) brightness(86%) contrast(96%);
}
#taskList > li > span {
  margin-left: 5px;
  max-width: 80%;
}





#footer {
  position: absolute;
  width: 100%;
  min-height: 50px;
  background-color: rgb(34, 43, 83);
  color: rgb(223, 223, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
@media (max-width: 500px) {
  #footer {
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
}

.contacticon {
  max-height: 25px;
  max-width: 50px;
  filter: invert(1);
}
.replit-svg {
  display: block;
  fill: white;
}
.contacttype {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  border: 2px dotted rgb(128, 156, 189);
  transition: border 0.3s;
  background-color: rgb(3, 12, 54);
}
.contacttype:hover {
  border: 2px dotted rgb(255, 255, 255);
}
#footer-copyright {
  padding-right: 5px;
}

#header {
  position: absolute;
  width: 100%;
  min-width: 270px;
  height: 69px;
  background-color: rgb(3, 12, 54);
  color: rgb(223, 223, 223);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.nav-img {
  height: 50px;
}
#logo {
  display: flex;
  align-items: center;
}
#logo-text {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
}
#logo-img {
  filter: invert(1);
}


#copyright {
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(3, 12, 54);
  margin-left: 15px;
}
#contactMenuIcon {
  font-size: 38px;
  margin-right: 10px;
}
#menu {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(3, 12, 54);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
#icons {
  display: flex;
  margin-right: 15px;
}
#navbar {
  display: flex;
}
#dropdown {
  display: flex;
  flex-direction: row;
}
#dropdown:hover #menu {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}
#dropdown:hover #contactMenuIcon {
  display: none;
}





.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}